@include desktop {
    .seccion-inferior {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
    
} 
.entrada-blog {
    margin-bottom: 2rem;

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    } 
    &:last-of-type {
        margin-bottom: 0;
    }
}
.información-meta {
    span {
        color: $amarillo;
    }
}
.texto-entrada {
    display: flex;
    flex-direction: column;
    a {
        color: $blanco;
        display: block;
        margin: 2rem 0;
        @include tablet {
            align-self: flex-end;
            margin-top: 0;
            max-width: 15rem;
        } 
    }
    h4 {
        margin: 0;
        line-height: 1.4;

        &::after {
            content: '';
            display: block;
            width: 15rem;
            height: 0.5rem;
            background-color: $verde;
            margin-top: 1rem;
        }
    }
}